@page "/List"

@inject HttpClient Client

<h3>List</h3>

@code {
    protected async override Task OnInitializedAsync()
    {
        IEnumerable<CoffeeRoutineDto> routines = await Client.GetBasicAsync<IEnumerable<CoffeeRoutineDto>>("routine");

        await base.OnInitializedAsync();
    }
}
