<MudStack AlignItems=AlignItems.Center Style="margin-top: 20px;">

    <div style="width: 300px;">
        <MudDatePicker Label="Choose Date" @bind-Date=date DisableToolbar Required />
        <MudTimePicker Label="Choose Time" @bind-Time=time DisableToolbar Required />
    </div>

    <MudButton OnClick=NowClick
               Variant=Variant.Outlined
               Color=Color.Primary
               Style="margin-top: 20px;">
        Now
    </MudButton>

</MudStack>

@code {
    private DateTime? date
    {
        get => Routine.Time;
        set
        {
            if (value is DateTime obj)
            {
                Routine.Time = obj;
            }
        }
    }

    private TimeSpan? time
    {
        get => Routine.Time.TimeOfDay;
        set
        {
            if (value is TimeSpan obj)
            {
                Routine.Time = Routine.Time.Date + obj;
            }
        }
    }

    [Parameter]
    public SingleRoutineDto Routine { get; set; }

    protected override void OnInitialized()
    {
        NowClick();
    }

    private void NowClick() =>
        Routine.Time = DateTime.Now;
}
