<MudStack AlignItems=AlignItems.Center Style="margin-top: 20px;">

    <div style="width: 300px;">
        <MudTimePicker Label="Choose Time" @bind-Time=time DisableToolbar Required />
    </div>

    <MudButton OnClick=NowClick
               Variant=Variant.Outlined
               Color=Color.Primary
               Style="margin-top: 20px;">
        Now
    </MudButton>

    <MudSelect T=DayOfWeek SelectedValues=Routine.DaysOfWeek SelectedValuesChanged=ValuesChanged Style="margin-top: 20px;" MultiSelection Label="Choose Days of Week" Required>
        @foreach (DayOfWeek day in Enum.GetValues<DayOfWeek>())
        {
            <MudSelectItem Value=day />
        }
    </MudSelect>

</MudStack>

@code {

    private TimeSpan? time
    {
        get => Routine.TimeOfDay.ToTimeSpan();
        set
        {
            if (value is TimeSpan obj)
            {
                Routine.TimeOfDay = TimeOnly.FromTimeSpan(obj);
            }
        }
    }

    [Parameter]
    public DailyRoutineDto Routine { get; set; }

    protected override void OnInitialized()
    {
        NowClick();
    }

    private void NowClick() =>
        Routine.TimeOfDay = TimeOnly.FromTimeSpan(DateTime.Now.TimeOfDay);

    private void ValuesChanged(IEnumerable<DayOfWeek> days) =>
        Routine.DaysOfWeek = days.ToList();
}
