@inject HttpClient Http
@inject ISnackbar Snackbar
@inject NavigationManager NavManager
@inject IDialogService DialogService


@page "/NewCoffee"

<PageTitle>Counter</PageTitle>

<h1>New Coffee</h1>

<MudButton Variant="Variant.Filled" @onclick="CreateCoffee"> Make Coffe Now </MudButton>


@code {
    private Coffee Coffee = new();

    async private void CreateCoffee()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var Dialog = DialogService.Show<CoffeeModal>("Neuer Kaffee", parameters, options);

        await Http.PutAsJsonAsync<Coffee>("/coffee", Coffee);
    }
}
