@using MudBlazor

@inject ISnackbar Snackbar
@inject HttpClient Http

@page "/Stats"

<PageTitle>Statistics</PageTitle>

<h1>Stats</h1>

<div>
    <MudChart ChartType="ChartType.Bar" ChartSeries="@Series"  @bind-SelectedIndex="Index" Width="100%" Height="500px" XAxisLabels="@XAxisLabels"></MudChart>
</div>

@*ToDo: Add Stats for every Coffee made*@


@code {

    private int Index = -1;
    private IEnumerable<ExecutedRoutineDto>? coffees = new List<ExecutedRoutineDto>();
    private IEnumerable<CoffeeRoutineDto>? allRoutines = new List<CoffeeRoutineDto>();
    public string[] XAxisLabels = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            coffees = await Http.GetFromJsonAsync<List<ExecutedRoutineDto>>("/api/executed/");
            allRoutines = await Http.GetBasicAsync<List<CoffeeRoutineDto>>("/api/routine");
            SetChartData();
            StateHasChanged();
        }
        catch (HttpRequestException e)
        {
            Snackbar.Add(e.Message, Severity.Warning);
        }

    }

    private CoffeeButton GetCoffeeType(int routineId)
    {
        CoffeeRoutineDto coffee = allRoutines.First(x => x.Id == routineId);
        return coffee.ButtonType;
    }

    private int GetCoffeesOfTypePerMonth(CoffeeButton coffeeType, int i)
    {
        //ToDo: Simplify with  Dtos
        string month = System.Globalization.DateTimeFormatInfo.InvariantInfo.GetAbbreviatedMonthName(i);
        int coffeesinmonth = 0;
        foreach (var coffee in coffees)
        {
            
            if ((coffee.Time.ToString("MMM") == month) && (GetCoffeeType(coffee.RoutineId) == coffeeType))
            {
                coffeesinmonth++;
            }
        }
        return coffeesinmonth;
    }

    private void  SetChartData()
    {

        for (int i = 1; i < 13; i++)
        {
            Series[0].Data[i-1] = GetCoffeesOfTypePerMonth(CoffeeButton.Espresso, i);
            Series[1].Data[i-1] = GetCoffeesOfTypePerMonth(CoffeeButton.SmallCup, i);
            Series[2].Data[i-1] = GetCoffeesOfTypePerMonth(CoffeeButton.BigCup, i);
            Series[3].Data[i-1] = GetCoffeesOfTypePerMonth(CoffeeButton.HotWater, i);
        }

    }

    public List<ChartSeries>? Series = new List<ChartSeries>()
    {
        new ChartSeries() { Name = "Espresso", Data = new double[13] },
        new ChartSeries() { Name = "Small Cup", Data = new double[13] },
        new ChartSeries() { Name = "Big Cup", Data = new double[13] },
        new ChartSeries() { Name = "Hot Water", Data = new double[13] },
    };
}
